.custom-progress-bar {
    position: relative;
    width: 80%;
    left: 10%;
    background-color: grey !important;
    height: 5px;
    margin-bottom: 10px;
}
  
  .custom-progress-bar .MuiLinearProgress-bar {
    background-color: rgb(80, 255, 255);
  }
  