
body {
    background: #f8f4ff;
    font-family: "Euclid Circular A", "Poppins";
    overflow: hidden;
  }
  
  progress {
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 8px;
    border: none;
    background: transparent;
  }
  
  progress::-webkit-progress-bar {
    background: rgb(33, 33, 33);
  }
  
  progress::-webkit-progress-value {
    background-color: lightblue;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
}
  
  nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 101;
    padding: 0 20px;
  }

  nav h3 {
    position: relative;
    font-size: 1.5vw;
    font-family: "Palatino", serif;
    font-weight: lighter;
    color: white;
    left: 20px;
  }
  /* Developing the navbar thing i think */
  nav h2 {
    position: relative;
    color: white;
    font-weight: lighter;
    left: 10px;
    top: -5px;
    font-size: 1.7;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  h2::after {
    content: "";
    position: absolute;
    top: 5px;
    right: 2px;
    bottom: 0;
    border-right: 2px solid white;
  }

  nav h2 span  {
    position: relative;
    color: rgb(80, 255, 255);
    font-weight: bolder;
    top: 15px;
    left: -15px;
    font-size: 20px;
  }

  .social-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: right;
    width: 30%;
    height: 40px;
    left: -60px;
    margin-left: auto;
  }

  .github,
  .linkdin,
  .resume {
    color: white;
    width: 20%;
    height: 100%;
  }

  .github:hover,
  .linkdin:hover,
  .resume:hover {
    color:rgb(80, 255, 255);
  }

  .container {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    }

  .container::-webkit-scrollbar {
    width: 0;
    background-color: transparent;
  }
  .segment {
    min-height: 100vh;
  }
  
  .firstSegment {
    position: relative;
    width: 100%;
    height: 100%;
  }

  .backImage{
    position: relative;
    width: 100%;
    height: 100%;
  }

  .segment:nth-child(2) {
    background: black
  }

  .segment:nth-child(3) {
    background: black
  }
  
  .imageContainer {
    position: absolute;
    left: 5%;
    top: 10%;
    width: 40.0vw;
    height: 65%;
  }

  .firstImage {
    position: relative;
    left: 5%;
    top: 30%;
    height: 65%;
    width: 70%;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
}

  .bar {
    position: absolute;
    background: white;
    height: 50%;
    width: 2px;
    left: 14%;
    top: 23%;
  }

  .aboutme-container {
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    left: 45%;
    top: 25%;
    width: 55%;
    height: 70%;
  }
  
  .aboutme-container article {
    position: relative;
  }

  .aboutme-container h3 {
    position: absolute;
    font-family: "Helvetica", sans-serif;
    font-size: 2.8vw;
    font-weight: lighter;
    color: white;
    top: -27%;
    left: 40%;
    z-index: 3;

  }

  .secondText {
    position: absolute;
    font-family: "Helvetica", sans-serif;
    font-size: 2.0vw;
    font-weight: 600;
    color: aqua;
    opacity: .8;
    top: -13%;
    left: 15%;
    z-index: 3;
}

  .acordian {
    position: relative;
    left: 20%;
  }